* {
    font-family: Arial, Helvetica, sans-serif;
}
img {
    display:none;
}

button {
    border : solid 2px
}

p {
    display:flex;
    justify-content: center;
}

#overlay {
    position:absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.border {
    height: 300px;
    width: 300px;
    border: solid orangered;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#main {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#playArea {
    display: flex;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
